body {
    font-family: Verdana;
    font-size: 14px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
}

div {
    font-family: Verdana;
    font-size: 12px;
    color: black;
}