doctype html
html
    head
        title Places page
    body
        h2 List of known places
        ul
        each place in places
            li= place['name']
        h2 Add a new place
        form(
            method="post"
            action="/places"
            )
            fieldset
                legend Place details
                p
                label(for="place[name]") Place name:
                    input(type="text", name="place[name]", value="")
                p
                label(for="place[distance]") Distance (km):
                    input(type="text", name="place[distance]", value="")
            p.buttons
                input(type="submit", value="Save")
