doctype html
html
    head
        title Places page
        link(rel='stylesheet', type='text/css', href='/styles/main.css')
    body
        h2 List of known places
        ul
        each place in places
            li
                a(href='/places/' + place['_id'])= place['name']
        h2 Add a new place
        form(action='/places/add', method='POST')
            table
                tr
                    td
                        label(for='name') Name
                    td        
                        input(type='edit', name='name', placeholder='Input name')
                tr
                    td
                        label(for='dist') Dist
                    td
                        input(type='edit', name='dist', placeholder='Input distance')
                tr
                    td(colspan=2)
                        input(type='submit', value='Save')